.item-input {
	position: relative;
	padding-left: 40px;
}

.item-checkmark {
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 30%;
	position: absolute;
	left: 0;
}

.item-checked {
	display: none;
}
