$primary-color: #545454;
$accent-color: #333333;
$light-color: #ffffff;
$font-family: Arial, sans-serif;
$background-color: #F9F9F9;
$line-color: #d7d7d7;
$bg-primary: #F2F2F2;
$basket-summary-bg: #f4f4f4;
$warn-color: #ff6347;