@import "../../../../styles/variables.scss";

.person {
    font-size: 34px;
    color: $primary-color;
}

.basket {
    font-size: 29px;
    color: $primary-color;
    margin-left: 20px;
}

.quantity-items-in-basket {
    position: absolute;
    top: 0;
    font-size: 12px;
}