.item-container {
	position: relative;
	margin-top: 20px;
}
.item-container::after {
	background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #f9f9f9);
	bottom: -1px;
	content: '';
	height: 25px;
	left: 0;
	position: absolute;
	right: 20px;
}

.item-input input {
	opacity: 0;
	cursor: pointer;
	position: absolute;
}

.item-input input:checked ~ .item-checked {
	display: inline;
	position: absolute;
	left: 4px;
	top: 4px;
	font-size: 19px;
	color: var(--primary-color);
}

.list-items {
	overflow-y: auto;
	max-height: 230px;
	padding: 0;
}
.list-items div:last-child {
	margin-bottom: 15px;
}
