@import "../../styles/variables.scss";

.footer-container {
    border-top: 1px solid $line-color;
    max-width: 1120px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    left: 50%;
}