.card {
    max-width: 260px;
    max-height: 360px;
    border-radius: 12px !important;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 10px 5px #e0e0e0;
    }

    .img {
        width: 140px !important;
        margin: 0 auto;
        display: block;
    }


    span {
        font-size: 14px;
    }
}

.slick-slide {
    margin: 0 10px;
    width: 253px !important;
}