.quantity-items {
    padding: 3px 10px 3px 10px;
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius: 5px;
    width: 60px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    appearance: none;
}