@import "../../index.scss";

.inputStyle {
    width: 100%;
    border-radius: 5px;
    height: 2.2rem;
    border: 1px solid $primary-color;
    padding: 0 2rem;
    outline: none;

    &:focus {
        outline: 1px solid $primary-color;
    }
}

.svgStyle {
    position: absolute;
    top: 9px;
    right: 14px;
    font-size: 18px;
}