@import "../src/styles/variables.scss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: BodyFont, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: $primary-color;
    background: $background-color;
}

a {
    text-decoration: none !important;

    &:hover {
        color: $primary-color;
        opacity: 0.7;
    }
}