$primary-color: #545454;
$accent-color: #333333;
$light-color: #ffffff;
$font-family: Arial, sans-serif;
$background-color: #F9F9F9;
$line-color: #d7d7d7;
$bg-primary: #F2F2F2;

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: $primary-color;
    background: $background-color;
}

a {
    text-decoration: none !important;

    &:hover {
        opacity: 0.7;
    }
}