.Free30DayReturns-container {
    color: #2c7287;
    border: 1px solid #1212121f;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edfdfb;
}